APP_DEBUG = false[APP]DEFAULT_TIMEZONE = Asia/ShanghaiAPP_KEY = #APP_KEY#[DATABASE]TYPE = mysqlHOSTNAME = #DB_HOST#DATABASE = #DB_NAME#USERNAME = #DB_USER#PASSWORD = #DB_PWD#HOSTPORT = #DB_PORT#CHARSET = utf8PREFIX = #DB_PREFIX#LOG = falseDEBUG = false[CACHE]driver = file[REDIS]HOST = 127.0.0.1PORT = 6379PASSWORD = ""SELECT = 0PREFIX = "hkcms:"TAG_PREFIX = "tag:"[LANG]default_lang = zh-cn